@use "reset";



.mainContent {
    background-color: rgb(212, 249, 255);
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    padding-bottom: 10rem;
    margin-top: 0;
    padding-top: 32px;

}
.mainContent > ul{
    margin-top: 0;

    padding: 0 2rem;
    li{
        margin-bottom: 32px;
        border: 2px;
        border-style: solid;
        list-style-type: none;
        background-color: aliceblue;
        border-color: rgb(179, 186, 192);

    }
}
.post {
    padding: 0 2rem;
}

.navbar {
    background-color: lavenderblush;

    
    &__inner {
        width: min(80ch, 100vw - 2rem);
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}
.show {
    display: flex;
}

.hide {
    display: none;
}
