<ul>
    {% for row in rows %}
        <li>
            {{ row | dump }}
        </li>
    {% endfor %}
</ul>
<select name="author" id="author">
    {% for user in users %}
        <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
</select>