
    <nav class="navbar">
        <div class="navbar__inner container">
            <a href="/" class="logo">Super</a>
            <button class="navbar__button" aria-label="Open menu">
                <p> Test </p>
            </button>
            <div class="navbar__collapse">
                <ul class="menu">
               
                        <li>
                           <a href="new"> New post</a>
                        </li>
                        <li>
                           <a href="/"> forum</a>
                        </li>
                
                
                </ul>
            </div>
        </div>
    </nav>